<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homePage/homePage.css'%}" type="text/css">
    <link href="../../static/homePage/homePage.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="homePage-background"> <!-- animation area-->
        <svg class="container-sm" width="400" height="760" style="position:absolute; margin-left: 35%; margin-top:35px">
            <rect id="loginRect" width="50%" height="100%" rx="40px" ry="40px" style="fill: cornflowerblue; stroke: pink; stroke-opacity: 0.0; stroke-width: 3px; "/>
            <foreignObject height="760" width="50%">

                <label id="username" for="usernameInput">UserName:
                    <input type="text" id="usernameInput" name="usernameInput" placeholder=" Enter your username ">
                </label>
                <label id="password" for="passwordInput">Password:
                    <input type="password" id="passwordInput" name="passwordInput" placeholder=" Enter your password">
                </label>
                <button type="submit" id='loginButton' value="Login" onclick="window.location.href='courses.html';">Login</button>
                <button type="submit" id="signUpButton" value="Sign Up" onclick="window.location.href='../../../signUpPage/signUpPage/signUpPage.html'">Sign Up</button>
            </foreignObject>
        </svg>

        <ul class="animation"> <!-- box area-->
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</body>
</html>