{% load static%}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'homePage/favicon.png' %}">
    {% load bootstrap4 %}
    <link href="../../static/homePage/homePage.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="homePage-background"> <!-- animation area-->
        <svg class="container-sm" width="25%" height="760" style="position:absolute; margin-left: 35%; margin-top:35px">
            <rect id="loginRect" width="100%" height="100%" rx="40px" ry="40px" style="fill: cornflowerblue; stroke: pink; stroke-opacity: 0.0; stroke-width: 3px; "/>
            <foreignObject height="760" width="100%">
                <div class="loginpage-form">
                    {% block content %}
                    <form method="post">
                        {% csrf_token %}
                        {{forms|crispy}}
                        {% for field in form %}
                            <div class="fields">
                                <label for="{{field.id_for_label}}" class="label">{{field.html_name}}</label>
                                <div id="input">{{field}}</div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success" id="loginButton" formmethod="post">Login</button>
                        <input type="button" class="btn btn-success" id="signUpButton" formmethod="post" value="Sign Up">
                    </form>
                    {% endblock %}
                </div>
            </foreignObject>
        </svg>

        <ul class="animation"> <!-- box area-->
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</body>
</html>