
*{
    margin: 0;
    padding: 0;
}


.homePage-background{
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 100vh;
}

/*This z-index is important because it will allow the buttons and the input fields to be pushed to the top of the UI stack.s*/
svg{z-index: 9999;}


.animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.animation li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: -0s;
}

.animation li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.animation li:nth-child(3){
    left: 70%;
    width: 70px;
    height:70px;
    animation-delay: 4s; /*Change this to 5.5 seconds later and see the result*/
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

#loginTitle{
    position: absolute;
    color: #dddddd;
    font-weight: bold;
}

#username{
    position: absolute;
    font-size: large;
    font-weight: bold;
    margin-top: 30%;
    margin-left: 20%;
    color: #dddddd;
}

#usernameInput{text-indent: 4%;}

#password{
    position: absolute;
    font-size: large;
    font-weight: bold;
    margin-top: 55%;
    margin-left: 20%;
    color: #dddddd;
}

#passwordInput{text-indent: 4%;}

#loginButton{
    position: absolute;
    margin-left: 45%;
    margin-top: 65%;
    height: 40px;
    width: 70px;
    border-radius: 15%;
    font-weight: bold;
}


#signUpButton{
    display: block;
    position: absolute;
    margin-left: 42%;
    margin-top: 85%;
    height: 45px;
    width: 100px;
    border-radius: 15%;
    font-weight: bold;
}