<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grades</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'grades/courses_styles.css' %}" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'grades/favicon.png' %}">
</head>
<body>

    <div id="courses_bg" class="jumbotron-fluid " style="background: #dddddd">
        <h3 id="course_header">Your Courses</h3>

        <table id="courses-table">
            <tr>
                <th>Semester</th>
                <th>Course Name</th>
                <th>Course Code</th>
                <th>Grade</th>
            </tr>
        </table>
    </div>
</body>
</html>