<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/signUpPage/signUpPage.css" type="text/css"/>
    {% load bootstrap4 %}
    <title>{% block title %}SignUp{% endblock %} </title>
</head>
<body>
    <div id="backGround">
        <div class="container-sm">
            <h2>Sign Up</h2>
        </div>

        <div id="inputs">
            <img src="../../static/signUpPage/SignUp-Person.png" alt="Signup Person Image" id="image">
            <p id="inputText">Please enter your Email Address,<br/> Username, and Password.</p>
            <div class="form-group">
                {% block content %}
                <form method="post">
                    {% csrf_token %}
                    {{ forms|crispy}}
                    {% for field in form %}
                        <div class="fields">
                            <label for="{{ field.id_for_label }}" class="label">{{field.html_name}}</label>
                            {{field}}
                        </div>
                    {% endfor %}
                   <button type="submit" class="btn btn-success" id="signup-button" value="user-credentials">Sign Up</button>
                </form>
                {% endblock %}
            </div>

        </div>
    </div>
</body>